<!--
SLAM（cartographer）サンプルのlaunch

実行にはLRFが必要です。
地図を生成していくためにはメガローバーを手動で移動させる必要があります。
ゲームパッド操作サンプルまたはマウス（タッチパッド）操作サンプルを使用してください。

起動コマンド： roslaunch megarover_samples cartographer.launch
-->

<launch>
  <!-- オドメトリの配信ノード -->
  <node pkg="mecanumrover_samples" type="pub_odom" name="pub_odom" />

  <!-- LRFのデバイスドライバノード -->
  <node name="horizontal_laser" pkg="urg_node"
    type="urg_node" >
    <param name="serial_port" value="/dev/ttyACM0" />
    <param name="frame_id" value="horizontal_laser_link" />
    <param name="angle_min" value="-1.57" />
    <param name="angle_max" value="1.57" />
  </node>

  <!-- メカナムローバーのロボットモデルの配信ノード -->
  <param name="robot_description"
    textfile="$(find mecanumrover_samples)/configuration_files/cartographer/mecanumrover_cartographer.urdf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <!-- cartographer -->
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find mecanumrover_samples)/configuration_files/cartographer/
          -configuration_basename mecanumrover_2d_cartographer.lua"
      output="screen">
    <!--<remap from="echoes" to="horizontal_laser_2d" />-->
  </node>

  <!-- グリッドマップの分解能の設定 -->
  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.015" />

  <!-- Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />
</launch>
