<!--
SLAM（cartographer）サンプルのlaunch

実行にはLRFが必要です。
地図を生成していくためにはメガローバーを手動で移動させる必要があります。
ゲームパッド操作サンプルまたはマウス（タッチパッド）操作サンプルを使用してください。

起動コマンド： roslaunch megarover_samples cartographer.launch
-->

<launch>

  <!-- 引数 -->
  <arg name="rover_type"  default="mecanum2"  doc="mecanum2 / f120" />
  <arg name="lrf"         default="urg"       doc="urg / tg30 / sim"/>

  <!-- オドメトリの配信ノード -->
  <node pkg="mecanumrover_samples" type="pub_odom" name="pub_odom" />

  <!-- URG-04LX-UG01の場合 -->
  <group if="$(eval lrf=='urg')">  
    <!-- LRFのデバイスドライバノード -->
    <node name="horizontal_laser" pkg="urg_node" type="urg_node" >
      <param name="serial_port" value="/dev/ttyACM0" />
      <param name="frame_id" value="lidar_link" />
      <param name="angle_min" value="-1.57" />
      <param name="angle_max" value="1.57" />
    </node>
  </group>

  <!-- YDLiDAR TG30の場合 -->
  <group if="$(eval lrf=='tg30')">
    <!-- YDLiDARデバイスドライバノード-->
    <node name="ydlidar_node"  pkg="ydlidar_ros"  type="ydlidar_node" output="screen" respawn="false" >
      <param name="port"         type="string" value="/dev/ydlidar"/>  
      <param name="baudrate"         type="int" value="512000"/>  
      <param name="frame_id"     type="string" value="lidar_link"/>
      <param name="resolution_fixed"    type="bool"   value="true"/>
      <param name="auto_reconnect"    type="bool"   value="true"/>
      <param name="reversion"    type="bool"   value="true"/>
      <param name="angle_min"    type="double" value="-180" />
      <param name="angle_max"    type="double" value="180" />
      <param name="range_min"    type="double" value="0.01" />
      <param name="range_max"    type="double" value="32.0" />
      <param name="ignore_array" type="string" value="" />
      <param name="frequency"    type="double" value="10"/>
      <param name="samp_rate"    type="int"    value="20"/>
      <param name="isTOFLidar"    type="bool"   value="true"/>
    </node>

  </group>

  <!-- シミュレータの場合 -->
  <group if="$(eval lrf=='sim')">

    <!-- メカナムローバーの旋回中心からLRFまでの座標変換の設定 -->
    <group if="$(eval rover_type=='mecanum2')">
　　  <!-- メカナムローバーVer2.0 or Ver2.1の場合 -->
      <!-- argsの項でLRFの位置を調整できます。 args="x y z y p r" -->
      <node pkg="tf" type="static_transform_publisher" name="stp_laser" args="0.199 0 0.08 0 0 3.14159 base_link lidar_link 1" />
    </group>
    <group if="$(eval rover_type=='f120')">
      <!-- メカナムローバーG120の場合 -->
      <node pkg="tf" type="static_transform_publisher" name="stp_laser" args="0.285 0 0.24 0 0 0 base_link lidar_link 1" />
    </group>

  </group>


  <!-- メカナムローバーのロボットモデルの配信ノード -->
  <param name="robot_description"
    textfile="$(find mecanumrover_samples)/configuration_files/cartographer/mecanumrover_cartographer.urdf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <!-- cartographer -->
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find mecanumrover_samples)/configuration_files/cartographer/
          -configuration_basename mecanumrover_2d_cartographer.lua"
      output="screen">
    <!--<remap from="echoes" to="horizontal_laser_2d" />-->
  </node>

  <!-- グリッドマップの分解能の設定 -->
  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

  <!-- Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />
</launch>
