<!-- 
  MEGAROVER move base demo launch
  USE STATIC MAP
-->

<launch>
  <!-- オドメトリの配信ノード -->
  <node pkg="mecanumrover_samples" type="pub_odom" name="pub_odom" />

  <!-- メガローバーの回転中心からLRFまでの座標変換 -->
  <!-- メカナムローバーVer2.0 or Ver2.1の場合 -->
  <node pkg="tf" type="static_transform_publisher" name="stp_laser" args="0.2 0 0.08 3.14159 3.14159 0 base_link laser 1" />
  <!-- メカナムローバーG120の場合 -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="stp_laser" args="0.285 0 0.24 0 0 0 base_link laser 1" /> -->

  <node name="horizontal_laser" pkg="urg_node"
    type="urg_node" >
    <param name="serial_port" value="/dev/ttyACM0" />
    <param name="frame_id" value="laser" />
    <param name="angle_min" value="-1.57" />
    <param name="angle_max" value="1.57" />
  </node>
 
  <!-- Run the map server -->
  <arg name="map_file" default="$(find mecanumrover_samples)/map/gmap22.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
 
  <!--- Run AMCL -->
  <!--<include file="$(find amcl)/examples/amcl_diff.launch" />-->
  <node pkg="amcl" type="amcl" name="amcl" output="screen" args="/scan:=/scan">
    <!-- Publish scans from best pose at a max of 10 Hz -->
    <param name="odom_model_type" value="omni"/>
    <param name="transform_tolerance" value="0.2" />
    <param name="gui_publish_rate" value="5.0"/>
    <param name="laser_max_beams" value="30"/>
    <param name="min_particles" value="500"/>
    <param name="max_particles" value="2000"/>
    <param name="kld_err" value="0.05"/>
    <param name="kld_z" value="0.99"/>
    <param name="odom_alpha1" value="0.02"/>
    <param name="odom_alpha2" value="0.02"/>
    <!-- translation std dev, m -->
    <param name="odom_alpha3" value="0.08"/>
    <param name="odom_alpha4" value="0.02"/>
    <param name="odom_alpha5" value="0.1"/>
    <param name="laser_z_hit" value="0.5"/>
    <param name="laser_z_short" value="0.05"/>
    <param name="laser_z_max" value="0.05"/>
    <param name="laser_z_rand" value="0.5"/>
    <param name="laser_sigma_hit" value="0.2"/>
    <param name="laser_lambda_short" value="0.1"/>
    <param name="laser_lambda_short" value="0.1"/>
    <param name="laser_model_type" value="likelihood_field"/>
    <!-- <param name="laser_model_type" value="beam"/> -->
    <param name="laser_likelihood_max_dist" value="2.0"/>
    <param name="update_min_d" value="0.05"/>
    <param name="update_min_a" value="0.05"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="resample_interval" value="1"/>
    <param name="transform_tolerance" value="0.1"/>
    <param name="recovery_alpha_slow" value="0.001"/>
    <param name="recovery_alpha_fast" value="0.01"/>
    <param name="use_map_topic" value="false" />
  </node>
 
  <!--- Run Move Base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" args="/cmd_vel:=/rover_twist">
    <rosparam file="$(find mecanumrover_samples)/configuration_files/mecanumrover_move_base_params.yaml" command="load" />
    <rosparam file="$(find mecanumrover_samples)/configuration_files/mecanumrover_costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find mecanumrover_samples)/configuration_files/mecanumrover_costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mecanumrover_samples)/configuration_files/mecanumrover_local_costmap_params.yaml" command="load" />
    <rosparam file="$(find mecanumrover_samples)/configuration_files/mecanumrover_global_costmap_params.yaml" command="load" />
    <rosparam file="$(find mecanumrover_samples)/configuration_files/mecanumrover_base_local_planner_params.yaml" command="load" />
  </node>

  <node pkg="rviz" type="rviz" args="-d '$(find mecanumrover_samples)/configuration_files/rviz/navigation.rviz'" name="visualizer" respawn="true" />
</launch>

